
// Color variables
// Primary color
$mdc-theme-primary: #ffb300;
$mdc-theme-primary-light: #ffe54c;
$mdc-theme-primary-dark: #c68400;
$mdc-theme-on-primary: #000000;

// Secondary color
$mdc-theme-secondary: #37474f;
$mdc-theme-secondary-light: #a4a4a4;
$mdc-theme-secondary-dark: #494949;
$mdc-theme-on-secondary: #ffffff;
