
// Color variables
// Primary color
$mdc-theme-primary: #ffb300;
$mdc-theme-primary-light: #ffe54c;
$mdc-theme-primary-dark: #c68400;
$mdc-theme-on-primary: #000000;

// Secondary color
$mdc-theme-secondary: #37474f;
$mdc-theme-secondary-light: #62727b;
$mdc-theme-secondary-dark: #102027;
$mdc-theme-on-secondary: #ffffff;

$theme-green: #41c300;
$theme-table-border-color: rgba(0, 0, 0, 0.2);

// Theme variables
$app-bar-height: 64px;
$app-bar-logo-width: 48px;
$app-bar-logo-height: 48px;

$main-content-top-padding: $app-bar-height;
