<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
</body>
</html>
