
.app-bar-logo {

  display: flex;
  height: $app-bar-height;
  align-items: center;

  .logo > img {
    width: $app-bar-logo-width;
    height: $app-bar-logo-height;
  }

  .title {
    margin-left: 1rem;
  }
}
