
.backup-dialog-wrapper {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 24px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 8px 24px;

  .backup-dialog-header {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 752px) {
  max-width: 720px;
}

@media (max-width: 752px) {
  max-width: calc(100vw - 32px);
}

